{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0 p-4">
                <h2 class="text-center mb-4 text-uppercase fw-bold">Запис на сервіс</h2>

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label fw-bold">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary w-100 rounded-pill py-3 fw-bold shadow mt-3">
                        ЗАПИСАТИСЯ
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}